*, body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    background: hsl(212, 45%, 89%);
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
}



img {
    max-width: 100%;
    border-radius: 10px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 2em 0;
    
}


.card {
    width: 300px;
    padding: 1em;
    background: white;
    border-radius: 20px;
}
h2 {
    font-weight: bold;
    font-size: 1.4em;
}

p {
    padding-right: 1em;
    padding-left: 1em;
    color: hsl(220, 15%, 55%);
}
h2, p, .code-qr {
    background-color: white;
    margin-bottom: 1em;
}
.description {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 1em;
    padding-bottom: 1em;
    background-color: white;
}


footer {
    width: 100%;
    text-align: center;
    background-color: hsl(212, 45%, 89%);
}


footer p {
    background-color: hsl(212, 45%, 89%);
}
